name: Tests

on:
  workflow_call:

  workflow_dispatch:

jobs:
  tests-with-coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: '3.13'

      - name: Install dependencies
        shell: bash -el {0}
        run: |
          conda install -c bioconda vsearch
          pip install .[dev]

      - name: Run tests and collect coverage
        shell: bash -el {0}
        run: pytest --cov tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5

  tests:
    name: Run Tests
    strategy:
      fail-fast: true
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        shell: bash -el {0}
        run: |
          conda install -c bioconda vsearch
          pip install .[dev]

      - name: Lint
        shell: bash -el {0}
        run: black --check .

      - name: Run tests
        shell: bash -el {0}
        run: pytest -s -vvvv -l --tb=long tests
